* {
  background-color: bisque;
}

.dropdown {
  position: relative;
  margin-bottom: 20px;
}

.dropdown-content {
  display: none;
  background-color: palegreen;
  margin-bottom: 5px;
  max-width: 300px;
}

.dropdown:hover .dropdown-content {
  display: block;
}