body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: palegoldenrod;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    margin-bottom: 10px;
}

.title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.login {
    font-weight: bold;
    margin-top: 10px;
}

.description {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.social img {
    margin-bottom: 10px;
    vertical-align: middle;
}

.contact-btn {
    width: 100%;
    font-size: 1em;
    border: none;
    border-radius: 0 0 10px 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #333;
}
