html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    font-size: 2vw;
}

.first {
    background-color: lightblue;
    width: 50%;
}

.second {
    background-color: lightgreen;
    width: 50%;
}